
    <% layout('layouts/boilerplate') -%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <div id="map"></div>

    <!---TEST:-->
    <div class="map-overlay top">
        <div class="map-overlay-inner">
            <fieldset>
                <label>Select layer</label>
                <select id="layer" name="layer">
                <option value="water">Water</option>
                <option value="building">Buildings</option>
                </select>
            </fieldset>
            <fieldset>
                <label>Choose a color</label>
                <div id="swatches"></div>
            </fieldset>
        </div>
    </div>

    <script>
        mapboxgl.accessToken = "<%= mapBoxToken %>";
        var posts = {features: <%- JSON.stringify(posts) %>};
    </script>
    <script src="/javascripts/allPostsClusterMap.js"></script>

